<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t.quakealert">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACTION_DIAL" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".CDF_nowcast"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapsActivity" />
        <activity android:name=".InformActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="85ee1102e5efe0664c2e7613b4a3b24a8f29e9e0" />
        <activity
            android:name=".gameMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".output"
            android:label="@string/title_activity_output"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayGame"
            android:label="@string/title_activity_play_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".High_Scores"
            android:label="@string/title_activity_high__scores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

    </application>

</manifest>